*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    --color-main: white;
    --color-bg: #181719;
}

body {
    background-color: var(--color-bg);
    color: var(--color-main);
}

.nav-header {
    font-family: "Crimson Pro", serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-header > span {
    font-size: 0.875rem;
    display: block;
    padding: 0.5em 0.55em;
    border: solid 1px var(--color-main);
    margin-right: auto;
}

.icon-btn {
    color: var(--color-main);
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: none;
}

.nav-link {
    color: var(--color-main);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    text-decoration: none;
    margin-top: 3em;
}

.nav-link.selected {
    font-weight: bold;
}

.mobile-nav > nav {
    margin-top: 5vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav {
    /*display: none;*/
    background-color: var(--color-bg);
    color: var(--color-main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0.5em;
}

.mobile-nav > button {
    float: right;
}

.main > h1 {
    font-family: 'Lora', serif;
    font-weight: normal;
    font-size: 2.25em;
    margin-top: 1em;
}

.main > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    max-width: 15em;
}

.read-more {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    max-width: 9em;
}

.read-more > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
}

.preview {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [pic-start] 1fr [card-start] 3em [pic-end] max-content [card-end];
    justify-content: center;
}

.preview > img {
    max-width: 100%;
    grid-column: 1 / 2;
    grid-row: pic-start / pic-end;
}

.designer-card {
    background-color: var(--color-bg);
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
    margin-right: 3%;
    padding: 1em 1.5em;
    grid-column: 1 / 2;
    grid-row: card-start / card-end;
    justify-self: right;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
        "img name"
        "img caption"
        "desc desc";
}

.designer-card > img {
    margin-right: 0.8em;
    max-width: 2.2em;
    border-radius: 2em;
    grid-area: img;
}

.designer-card > h2 {
    font-size: 0.75rem;
    margin: 0;
    grid-area: name;
    align-self: end;
}

.designer-card > .caption {
    color: #828282;
    font-size: 0.625rem;
    margin: 0;
    grid-area: caption;
    align-self: end;
}

.designer-card > .description {
    font-family: 'Lora', serif;
    font-size: 1.125rem;
    font-weight: bold;
    max-width: 14em;
    grid-area: desc;
}

.footer > hr {
    max-width: 80%;
}

.footer {
    color: #A9A9A9;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 4em;
}

.footer > p {
    margin-top: 1.2em;
}