*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    font-size: 1em;
    --color-main: white;
    --color-bg: #181719;
}

body {
    background-color: var(--color-bg);
    color: var(--color-main);
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header > span {
    display: block;
    padding: 0.5em 0.55em;
    border: solid 1px var(--color-main);
    margin-right: auto;
    font-size: 0.875rem;
}

.nav-header button {
    padding: 0;
    border: none;
    background: none;
    color: var(--color-main);
    cursor: pointer;
}

.nav-links {
    display: none;
}

.main > p {
    max-width: 14em;
}

.read-more {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    max-width: 9em;
}

.designer-card {
    padding: 1em;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr;
    grid-template-areas:
        "img name"
        "img caption"
        "desc desc";
}

.designer-card > img {
    margin-right: 1.5em;
    max-width: 4em;
    border-radius: 2em;
    grid-area: img;
}

.designer-card > h2 {
    grid-area: name;
    font-size: 0.75rem;
}

.designer-card > .caption {
    grid-area: caption;
    font-size: 0.75rem;
}

.designer-card > .description {
    grid-area: desc;
}